#Task Day 1
#Data Cleaning and Preprocessing

Dataset used: Sales Data from Kaggle

In [37]:
#Import files
import pandas as pd
import numpy as np

In [38]:
#Load csv file
df = pd.read_csv('/content/car_prices.csv')

In [39]:
#Info
print(df.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [40]:
#Check missing values
print(df.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [41]:
#Drop missing values
df = df.dropna()
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [42]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 61.3+ MB
None

In [43]:
#Change column name
df.rename(columns={'make':'maker'}, inplace=True)
print(df.columns)

Index(['year', 'maker', 'model', 'trim', 'body', 'transmission', 'vin',
       'state', 'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [44]:
#Remove GNT from saledate
df['saledate_clean'] = df['saledate'].astype(str).str.replace(r'GMT.*', '', regex=True).str.strip()

In [45]:
print(df.columns)

Index(['year', 'maker', 'model', 'trim', 'body', 'transmission', 'vin',
       'state', 'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate', 'saledate_clean'],
      dtype='object')

In [46]:
#Convert to datetime
df['saledate_clean'] = pd.to_datetime(df['saledate_clean'], errors='coerce')

In [47]:
#Extract date
df['date'] = df['saledate_clean'].dt.date

In [48]:
#Extract time
df['time'] = df['saledate_clean'].dt.time

In [49]:
#Extract day of week
df['day'] = df['saledate_clean'].dt.day_name()

In [51]:
# Display new data frame
print(df.head)

<bound method NDFrame.head of         year   maker                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer  color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0  white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0  white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0   gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0  white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0   gray
...             ...                ...   ...        ...       ...    ...
558831    automatic  wbafr1c53bc744672    fl       39.0   66403.0  white
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0  white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0  black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0  white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0   gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558831    brown           lauderdale imports ltd bmw pembrok pines  20300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice                                 saledate  \
0            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2            30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3            27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4            67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558831       22800.0  Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833       30800.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834       34000.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835       11100.0  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836       26700.0  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

            saledate_clean        date      time        day
0      2014-12-16 12:30:00  2014-12-16  12:30:00    Tuesday
1      2014-12-16 12:30:00  2014-12-16  12:30:00    Tuesday
2      2015-01-15 04:30:00  2015-01-15  04:30:00   Thursday
3      2015-01-29 04:30:00  2015-01-29  04:30:00   Thursday
4      2014-12-18 12:30:00  2014-12-18  12:30:00   Thursday
...                    ...         ...       ...        ...
558831 2015-07-07 06:15:00  2015-07-07  06:15:00    Tuesday
558833 2015-07-08 09:30:00  2015-07-08  09:30:00  Wednesday
558834 2015-07-08 09:30:00  2015-07-08  09:30:00  Wednesday
558835 2015-07-09 06:45:00  2015-07-09  06:45:00   Thursday
558836 2015-05-28 05:30:00  2015-05-28  05:30:00   Thursday

[472325 rows x 20 columns]>

In [55]:
#Remove duplicates
df = df.drop_duplicates()

In [58]:
#Check state name
df['state'].value_counts()

state
fl    75243
ca    66213
tx    41657
ga    30939
pa    24117
nj    23003
il    21494
oh    20294
tn    19183
nc    18731
mo    15286
mi    14185
nv    11682
md     9788
va     9448
wi     9196
mn     8627
az     7612
wa     7012
co     6270
ma     6167
ny     4749
in     3879
sc     3754
ne     3685
pr     2427
la     1744
ms     1730
ut     1716
hi     1205
or     1047
nm      163
ok       54
al       25
Name: count, dtype: int64

In [59]:
#Save clean data
df.to_csv("cleaned_data_task_1a.csv", index=False)

In [60]:
#Download cleaned csv file
from google.colab import files
files.download('cleaned_data_task_1a.csv')